<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_pi.png">

<center><h1 style="font-size:2em;color:#2467C0">  Caso de estudio </h1></center>

<center><h4 style="font-size:2em;color:#840700">  Pasajeros del Titanic  </h4></center>

<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="figuras/titanic.jpg" align="middle" style="width:500px"/></td>
<td align="left-align">

EL **Titanic** fue un transatlántico británico, el mayor barco del mundo al finalizar su construcción, que se hundió en la noche del 14 a la madrugada del 15 de abril de 1912 durante su viaje inaugural desde Southampton a Nueva York. Solo sobrevivieron 711 de las 2208 personas que iban a bordo (contando pasajeros y tripulación)

En este ejemplo, analizaremos información de los pasajeros del Titanic utilizando la librerá Pandas.

    
<br>
</td>
</tr>
</table>

# Librerías

Cargamos las bibliotecas que necesitamos

In [1]:
import csv
import matplotlib.pyplot as plt

# Cargamos los datos

In [2]:
#Leer el archivo datos/titanic_datos.txt

Descripción de las columnas : 
* Survival - Supervivencia  (0 = No; 1 = Si).  
* Pclass - Clase (1 = 1st; 2 = 2nd; 3 = 3rd)
* Name - Nombre
* Sex - Sexo
* Age - Edad
* Sibsp - Número de hermanos / cónyuges a bordo
* Parch - Número de padres / niños a bordo
* Ticket - Número de ticket
* Fare - Tarifa 
* Cabin - Número de cabina
* Embarked - Puerto de embarque (C = Cherbourg; Q = Queenstown; S = Southampton)

In [3]:
import csv

<div class="alert alert-info">
 <ul>
  <li>Encuentre el número de pasajeros</li>
</ul> 

</div>

In [4]:
contador_personas=0

with open('datos/titanic_datos.txt') as archivo_txt:
    datos = csv.reader(archivo_txt)
    next(datos)
    #print(list(datos))
    for linea in datos:
        #print(linea)
        contador_personas = contador_personas + 1

print('Pasajeros: ',contador_personas)

Pasajeros:  891

<div class="alert alert-info">
 <ul>
  <li>Encuentre el número de sobrevivientes</li>
</ul> 

</div>

In [5]:
contador_sobrevivientes=0

with open('datos/titanic_datos.txt') as archivo_txt:
    datos = csv.reader(archivo_txt)
    next(datos)
    for linea in datos:
        #print(linea[1])
        if linea[1] == '1':
            contador_sobrevivientes=contador_sobrevivientes+1

print('Sobrevivientes: ',contador_sobrevivientes )

Sobrevivientes:  342

<div class="alert alert-info">
 <ul>
  <li>Encuentre el numero de pasajeros por clase </li>
</ul> 

</div>

In [33]:
contador_C1=0
contador_C2=0
contador_C3=0

with open('datos/titanic_datos.txt') as archivo_txt:
    datos = csv.reader(archivo_txt)
    #print(list(datos))
    next(datos)
    for linea in datos:
        #print(linea)
        if  linea[2] == '1':
            contador_C1 += 1
        elif linea[2] == '2':
            contador_C2 += 1
        elif linea[2] == '3':
            contador_C3 += 1
total_pasajeros = (contador_C1+contador_C2+contador_C3)

print('Clase 1: ',contador_C1)
print('Clase 2: ',contador_C2)
print('Clase 3: ',contador_C3)
print('Total: ', total_pasajeros)

Clase 1:  216
Clase 2:  184
Clase 3:  491
Total:  891

<div class="alert alert-info">
 <ul>
  <li>Encuentre el numero de pasajeros que tengan como nombre o apellido el string 'William'</li>
</ul> 

</div>

In [7]:
contador_William=0

with open('datos/titanic_datos.txt') as archivo_txt:
    datos = csv.reader(archivo_txt)
    next(datos)
    for linea in datos:
        #print( 'William' in  linea[4] ) 
        if 'William' in  linea[4] :
            contador_William = contador_William + 1

print('Nombres con contador_William:', contador_William)

Nombres con contador_William: 64

## Tarea

<div class="alert alert-success">
 <ul>
  <li>1. Encuentre el número de mujeres y hombres. ¿Cuál era la probabilidad de supervivencia de una persona? ¿Cuál era la probabilidad de supervivencia de un hombre y el de una mujer?</li>
</ul> 

</div>

In [12]:
contador_mujeres=0
contador_hombres=0
sup_m=0
sup_h=0

with open('datos/titanic_datos.txt') as archivo_txt:
    datos = csv.reader(archivo_txt)
    next(datos)
    for linea in datos:
        #print('female' in linea[5])
        if 'female' in linea[5]:
            contador_mujeres=contador_mujeres+1
            #print(linea[1])
            if linea[1] == '1':
                sup_m=sup_m+1
        elif 'male' in linea[5]:
            contador_hombres=contador_hombres+1
            if linea[1] == '1':
                sup_h=sup_h+1

prob_sobrevivir = contador_sobrevivientes*100/contador_personas
prob_m = (sup_m/contador_mujeres)*100
prom_h = (sup_h/contador_hombres)*100

#print('mujeres vivas:', sup_m, 'hombres vivos:', sup_h, 'sobrevivientes totales:', contador_sobrevivientes)
print('Mujeres: ', contador_mujeres)
print('Hombres: ', contador_hombres)
print('Probabilidad de supervivencia: ', prob_sobrevivir, '%')
print('Prob. de supervivencia mujer:', prob_m, '%')
print('Prob. de supervivencia hombre:', prom_h, '%')

Mujeres:  314
Hombres:  577
Probabilidad de supervivencia:  38.38383838383838 %
Prob. de supervivencia mujer: 74.20382165605095 %
Prob. de supervivencia hombre: 18.890814558058924 %

<div class="alert alert-success">
 <ul>
  <li>2. ¿Cuál era la edad promedio?¿Cual era la edad de la persona más grande y la de la más joven? ¿Cuáles eran las edades de las 5 personas mas grandes?.  </li>
</ul> 

</div>

In [15]:
suma=0
contador_edades=0
menor_edad=100
mayor_edad=1
edad_actual=0
mayores=0

with open('datos/titanic_datos.txt') as archivo_txt:
    datos = csv.reader(archivo_txt)
    next(datos)
    for linea in datos:
        #print(linea[6])
        try:
            suma = suma + float(linea[6])
            contador_edades=contador_edades+1
            edad_actual = int(linea[6])
            if edad_actual > mayor_edad:
                mayor_edad=edad_actual
                #mayores[contador_edades]=int(linea[6])     no encuentro como hacer el vector que contenga mayor edad
                
            if edad_actual < menor_edad:
                menor_edad=edad_actual
        except:
            pass 
        #print(suma)
        
edad_prom=suma/contador_edades
print('Edad promedio es: ', edad_prom)
print('Edad de la persona más grande: ', mayor_edad)
print('Edad de la persona más joven: ', menor_edad)

Edad promedio es:  29.69911764705882
Edad de la persona más grande:  80
Edad de la persona más joven:  1

<div class="alert alert-success">
 <ul>
  <li> 3. ¿Cuál era la probabilidad de supervivencia de alguien menor a 25 años?  </li>
</ul> 

</div>

In [26]:
contador_menores25=0
edad_actual=0

with open('datos/titanic_datos.txt') as archivo_txt:
    datos = csv.reader(archivo_txt)
    next(datos)
    for linea in datos:
        #print(linea[6])
        #try cuando el dato de la linea tenga que ser un intrepretado como valor numerico
        if linea[1] == '1':
            try:
                edad_actual = int(linea[6])
                if edad_actual < 25:
                    contador_menores25=contador_menores25+1
            except:
                pass 
            #print(suma)

prob_menor25=contador_menores25*100/contador_sobrevivientes

print('Probabilidad de supervivencia de alguien menor a 25 años: ', prob_menor25, '%')

Probabilidad de supervivencia de alguien menor a 25 años:  32.45614035087719 %

<div class="alert alert-success">
 <ul>
  <li> 4. Encuentre en número de personas que embarcaron en Cherbourg, Queenstown y en Southampton.  </li>
</ul> 

</div>

In [25]:
contador_cherbourg=0
contador_queenstown=0
contador_southampton=0

with open('datos/titanic_datos.txt') as archivo_txt:
    datos = csv.reader(archivo_txt)
    next(datos)
    #print(list(datos))
    for linea in datos:
        #print(linea[12]) #(C = Cherbourg; Q = Queenstown; S = Southampton)
        if 'C' in linea[12]:
            contador_cherbourg=contador_cherbourg + 1
        if 'Q' in linea[12]:
            contador_queenstown=contador_queenstown + 1
        if 'S' in linea[12]:
            contador_southampton=contador_southampton + 1

print('Personas que embarcaron en Cherbourg: ', contador_cherbourg)
print('Personas que embarcaron en Queenstown: ', contador_queenstown)
print('Personas que embarcaron en Southampton: ', contador_southampton)

Personas que embarcaron en Cherbourg:  168
Personas que embarcaron en Queenstown:  77
Personas que embarcaron en Southampton:  644

<div class="alert alert-success">
 
 <ul>
  <li> 5. ¿Cómo difiere la tasa de supervivencia entre las diferentes clases del Titanic?</li>
</ul> 

</div>

In [32]:
contador_C1_vivo=0
contador_C2_vivo=0
contador_C3_vivo=0

with open('datos/titanic_datos.txt') as archivo_txt:
    datos = csv.reader(archivo_txt)
    #print(list(datos))
    next(datos)
    for linea in datos:
        if  linea[2] == '1':
            if linea[1]=='1':
                contador_C1_vivo += 1
        elif linea[2] == '2':
            if linea[1]=='1':
                contador_C2_vivo += 1
        elif linea[2] == '3':
            if linea[1]=='1':
                contador_C3_vivo += 1

#clases_vivos = (contador_C1_vivo+contador_C2_vivo+contador_C3_vivo)

print('Supervivientes de la clase 1: ',contador_C1_vivo)
print('Supervivientes de la clase 2: ',contador_C2_vivo)
print('Supervivientes de la clase 3: ',contador_C3_vivo)
#print('Total: ', clases_vivos)

Supervivientes de la clase 1:  136
Supervivientes de la clase 2:  87
Supervivientes de la clase 3:  119

<img align="left" width="800"  float= "none" align="middle" src="figuras/titanic2.png">